* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

body {
	top: 0px;
	left: 0px;
	width: 258px;
	height: 544px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, sans-serif;
	background: #EEE url("chriphone.png") no-repeat scroll top left;
}

button {
	background-color: transparent;
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

img {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

button:hover {
	border: 1px solid #AAA;
}

#topshim {
	height: 79px;
}

#statusbar {
	border: 0px;
	margin-left: 18px;
	height: 15px;
	width: 230px;
	background-color: transparent;
	text-align: center;
}

#clock {
	vertical-align: top;
	border: 0px;
	margin: 0px;
	color: #fff;
	padding-right: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#addressbar {
	margin-left: 22px;
	width: 217px;
	height: 30px;
	background-color: #DDD;
	border-bottom: 1px solid #888;
}

#addressbarrow {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

#back {
	
}

#forward {
	
}

#address {
	padding: 2px 5px;
	text-indent: 4px;
	border: 1px solid #888;
	-webkit-border-radius: 4px;
    outline: none;
}

#settings {
	
}

#chrome {
	margin-left: 22px;
	width: 217px;
	height: 350px;
}

