<div>
    <input type="text" ng-model="propertyName" placeholder="property name"/><select style="width:1.5em;" ng-model="propertyName" ng-options="p as p for (p,v) in object"></select>
    :
    <input type="text" ng-model="propertyValue" editenter="addProperty()" placeholder="value" title="Type ENTER to add/update"/>
    <button ng-disabled="addUpdateDisabled" ng-click="addProperty()" title="{{operationTitle}}">
        <b>&nbsp;{{operation}}&nbsp;</b>
    </button>
    <button ng-visible="removeVisible" ng-click="removeProperty()" title="Remove">
       <b>&nbsp;-&nbsp;</b>
    </button>
</div>