#header {
	font-family: Verdana, Arial, sans-serif;
	color: #fff;
	padding: 5px;
	background-image: url('header.png');
	-webkit-app-region: drag;
}

#editor {
	width: 100%;
	height: 100%;
	font-family: "Courier New", monospace;
}

#preview {
	width: 100%;
	height: 100%;
	font-family: "Courier New", monospace;
}
